<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do list</title>
  </head>
  <body>

    /*Date and Day*/
    <p>
      hi, user. today is <%=day%>
    </p>
    <ul>

      <% for (var i = 0; i<newItems.length; i++){ %>
       <li> <%= newItems[i] %> </li>
      <%  } %>

    </ul>

    <form class="" action="/" method="post">
      <input type="text" name="newItem">
      <button type="submit" name="button">Add Item</button>
    </form>
  </body>
</html>
